CITYEYE_ENVIRONMENT=demo
CITYEYE_FRONTEND_PORT=5173
CITYEYE_BACKEND_PORT=8000
CITYEYE_LOG_LEVEL=info
CITYEYE_CORS_ORIGINS=
CITYEYE_TRUSTED_HOSTS=*
CITYEYE_BACKUP_INTERVAL_SECONDS=21600
CITYEYE_BACKUP_RETENTION_COUNT=14
